{% extends "base.html" %}
{% from "_form_helpers.html" import render_field %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{ title }}</h1>
</div>

<div class="row">
    <div class="col-lg-8">
        <form method="POST" novalidate>
            {{ form.hidden_tag() }}

            <div class="card shadow-sm mb-4">
                <div class="card-header"><h5 class="mb-0">Datos de la Carga</h5></div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">{{ render_field(form.productor, class="form-select") }}</div>
                        <div class="col-md-6">{{ render_field(form.chofer_nombre, class="form-control", placeholder="Ej: Juan Pérez") }}</div>
                        <div class="col-md-6">{{ render_field(form.chofer_dni, class="form-control", placeholder="Ej: 30123456") }}</div>
                        <div class="col-md-6">{{ render_field(form.vehiculo_placa, class="form-control", placeholder="Ej: AA123BB") }}</div>
                        <!-- NUEVO CAMPO -->
                        <div class="col-md-6">{{ render_field(form.placa_acoplado, class="form-control", placeholder="Opcional") }}</div>
                        <!-- FIN -->
                        <div class="col-md-6">{{ render_field(form.peso_bruto, class="form-control", placeholder="Automático de báscula") }}</div>
                        <div class="col-md-6">{{ render_field(form.numero_bascula, class="form-control") }}</div>
                    </div>
                </div>
            </div>

            <div class="card shadow-sm mb-4">
                <div class="card-header"><h5 class="mb-0">Datos de Documentación (Romaneo / DTE-V)</h5></div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">{{ render_field(form.dtv, class="form-control", placeholder="Opcional") }}</div>
                        <div class="col-md-6">{{ render_field(form.humedad, class="form-control", placeholder="Opcional") }}</div>
                        <div class="col-md-12">{{ render_field(form.observaciones_romaneo, class="form-control", rows=3, placeholder="Ej: Presencia de palo, hojas, etc.") }}</div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-end">
                <a href="{{ url_for('recepcion.listar_cargas') }}" class="btn btn-secondary me-2">Cancelar</a>
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}
